{% extends "blog/base.html" %}

{% block title %}Додати коментар{% endblock %}

{% block content %}
    <div class="comment-page">
        {% if comment %}
            <div class="message-success">
                <h2>Ваш коментар додано.</h2>
                <p>
                    <a href="{{ post.get_absolute_url }}" class="btn-primary">
                        <i class="fas fa-arrow-left"></i> Повернутися до публікації
                    </a>
                </p>
            </div>
        {% else %}
            <div class="form-container">
                {% include "blog/post/includes/comment_form.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}