{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Мій блог{% endblock %}

{% block content %}
    <div class="blog-header">
        <h1>Мій блог</h1>
        {% if tag %}
            <div class="tag-header">
                <h2>Публікації з тегом "{{ tag.name }}"</h2>
            </div>
        {% endif %}
    </div>

    <div class="posts-container">
        {% for post in posts %}
            <article class="post-card">
                <h2 class="post-title">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <div class="post-meta">
                    <p class="date">
                        <i class="far fa-calendar-alt"></i> {{ post.publish }}
                        <i class="far fa-user"></i> {{ post.author }}
                    </p>

                    {% if post.tags.all %}
                        <p class="tags">
                            <i class="fas fa-tags"></i>
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="tag-link">
                                    {{ tag.name }}
                                </a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>

                <div class="post-excerpt">
                    {{ post.body|markdown|truncatewords_html:30 }}
                </div>

                <div class="post-actions">
                    <a href="{{ post.get_absolute_url }}" class="read-more">
                        Читати далі <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </article>
        {% endfor %}
    </div>

    {% include "pagination.html" with page=posts %}
{% endblock %}